<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="Application" value="1"/>
		<add key="Port" value="8080"/>
		<add key="ClearConsole" value="False"/>
		<add key="ClearCommandCache" value="False"/>
		<add key="AutoScroll" value="True"/>
		<add key="ExportPath" value=""/>
	</appSettings>
</configuration>